<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gappa</title>
    <link rel="stylesheet" href="./password.css"/>
    <script src="https://kit.fontawesome.com/0bdc55090c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="background-container">    
    <div class="container">
        <!-- <h1>Gappa</h1><h6>spill your heart-out messages</h6> -->
        <div class="form-box">
            <h1 id="title">Create New Password</h1>
            <form action="" id="passwordform">
                <div id="errMessage" style="display: none"></div>
                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <i class="fa-solid fa-lock"></i>
                        <input type="text" placeholder="New Password" required id="password"> 
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="text" placeholder="Confirm Password" required id="confirmpassword"> 
                        <input type="hidden" name="id" value ="<%= id %>">
                    </div>
                </div>    
                <div class="btn-field">
                    <button type="submit" id="createPasswordBtn">Create Password</button>
                </div>
            </form>
        </div>
    </div>  
</div>


<script>
    document.getElementById("passwordform").addEventListener("submit", async (e) => {
        e.preventDefault(e);
        try {
        const password = document.getElementById("password");
        const confirmpassword = document.getElementById("confirmpassword");
        const url = window.location.href;
        const id = url.substring(url.lastIndexOf('/')+1)
        console.log(id);
        if (password.value !== confirmpassword.value) {
            document.getElementById("passwordform").reset();
            return alert("MisMatched Passwords!");
        } 
                
            const response = await axios.post(`http://localhost:3000/password/createNewPassword/${id}`, { password: password.value, confirmpassword: confirmpassword.value });
            if(response.data.success==false){
                return alert("password not set")
            } 
            alert("Password Set successfully")
            location.href = 'http://localhost:3000';
            
          } catch (error) {
            const err = error.response ? error.response.data.message : error.message ;
            alert(err);
            console.log(error);
          }
        
      });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>

</body>
</html>